.report-problem-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.report-problem-modal {
  height: 100%;
  width: 100%;
  background-color: #ede6dd;
  position: relative;
  overflow-y: auto;
}


.close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  color: #ede6dd;
  font-size: 28px;
  background-color: #6c6063;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border: none;
} 

.close-button:hover {
  background-color: #1f3323;
}
