# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules
server/config.js
server/node_modules
client/node_modules
.DS_Store

# Sensitive files and credentials
server/credentials/
server/config/email.js
server/config/firebase.js
server/utils/logs/
.env

# Firebase service account
*firebase-adminsdk*.json

# Log files
*.log