.pin-list-container {
  padding: 16px;
  background-color:#CEBCB6;
  width: 100%;
  height: 100vh;
  box-sizing: border-box; 
  overflow: scroll;
}

.pin-list-header {
  background-color: #EAE0D5;
  color: #000000;
  border-radius: 8px;
  border: 1px solid black;
  margin: 0;
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
}

.pin-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 84px; /* Space for navbar at bottom */
}

.pin-list-loading,
.pin-list-error,
.pin-list-empty {
  text-align: center;
  padding: 20px;
  background-color: rgba(76, 76, 76, 0.4);
  border-radius: 8px;
  margin-top: 20px;
}

.pin-list-error {
  color: #f88;
}